<!--Default View of the program-->
<div style="text-align: center; border: 2px solid black; border-radius: 5px; max-width: fit-content; margin: auto; background-color: lightblue;">
    <h1><u>Starter Project</u></h1>
    <h1><u>G00417466</u></h1>
    <!--Navigation Links: Providing routing to each of the core parts of our application-->
    <div style="text-align: center; border: 2px solid black; margin: auto; background-color: aquamarine;">
        <p><a href="/members">Track Members</a><br>
            <a href="/participants">Track Participants</a><br>
            <a href="/campaigns">Track Campaign</a>
        </p>
    </div>
</div>