<!--Simplistic view of the member details-->
<div style="text-align: center; border: 2px solid black; border-radius: 5px; max-width: fit-content; margin: auto; background-color: lightblue;">
    <h1><u>Page for dealing with the details of each member</u></h1>
    <!--Navigation Links: Providing routing to each of the core parts of our application-->
    <div style="text-align: center; border: 2px solid black; margin: auto; background-color: aquamarine;">
        <p>
            <a href="/">Home</a><br>
            <a href="/participants">Track Participants</a><br>
            <a href="/campaigns">Track Campaign</a>
        </p>
    </div>

    <div>
        <table style="border: 1px solid black; margin-left: auto; margin-right: auto;">
            <tr>
                <th style="border: 1px solid black;">ID</th>
                <th style="border: 1px solid black;">Name</th>
                <th style="border: 1px solid black;">Member Award</th>
            </tr>
            <% squadMembers.forEach((member) => { %>
            <tr>
                <td style="border: 1px solid black;"><%= member.id %></td>
                <td style="border: 1px solid black;"><%= member.username %></td>
                <td style="border: 1px solid black;"><%= member.user_award %></td>
            </tr>
            <% }) %>
        </table>
    </div>
</div>