<!--Simplistic view-->
<div style="text-align: center; border: 2px solid black; border-radius: 5px; max-width: fit-content; margin: auto; background-color: lightblue;">
    <h1><u>Simplistic page for tracking the details of the participants of campaigns</u></h1>
    <!--Navigation Links: Providing routing to each of the core parts of our application-->
    <div style="text-align: center; border: 2px solid black; margin: auto; background-color: aquamarine;">
        <p>
            <a href="/">Home</a><br>
            <a href="/members">Track Members</a><br>
            <a href="/campaigns">Track Campaign</a>
        </p>
    </div>
</div>